<div class = "">
	<div class = "am-animation-slide-right" >
		<div>
		<!--图片轮播-->
		<div am-swiper-plug options = "slideFruitData" type = "typeName"> </div>
		<!--名称及价钱详细介绍-->
		<div class="am-u-sm-12 det-details">
			<div class="am-u-sm-10">{{productDetails.description}} {{productDetails.detail}}</div>
			<!--长度不变 在跳跃-->
			<div class="am-u-sm-12 det-value"> {{price_select.real_price}}元/{{units[price_select.unit].name}}
				<span class="det-lastValue"></span>
				<span> </span>
			</div>
			
		</div>
		<div ng-show="productDetails.category_id===1" class="am-u-sm-12 det-value">
			<ul class="sku">
				<li>
					<dl><dt style="font-size:12px;color:#333;padding-bottom:5px">订购方式:<a style="color:#f6325b;margin-left:15px;"></a></dt>
					<dd class="sku-item" >
						<span data-key="0" ng-repeat="price in productDetails.prices track by $index" class="select {{price_select.id==price.id?'ed':''}}" ng-click="selectPrice(price)">按{{units[price.unit].name}}数</span>
					 
					</dd>
					</dl>
				</li>
				<li>
					<dl><dt style="font-size:12px;color:#333;padding-bottom:5px">订购数量:<a style="color:#f6325b;margin-left:15px;"></a></dt>
					<dd class="sku-item"  >
							<div class="am-btn-group am-btn-group-xs proLi-goodsNum" style="float: left; */">
						 
							<span  class="numselect" ng-click = "p.reduce();getAllPrice()">-</span>
							<span class="numselect">2</span>
							<span>个</span>
							<span>约1.5斤</span>
							<span class="numselect" ng-click = "p.increase();getAllPrice()">+</span>
							</div>
					</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div ng-show="productDetails.category_id===3" class="am-u-sm-12 det-value teaminput">
			<ul class="sku" >
				<li style="font-size:12px;color:#333;padding-bottom:5px">
				总金额：<input type="text"  value="100"  >
				</li>
				<li style="font-size:12px;color:#333;padding-bottom:5px">
				总人数：<input type="text"  value="10" >
				</li>
				<li>
		
			</ul>
			
		</div>	
<form>
			<div ng-show="productDetails.category_id===3" class="am-u-sm-12 det-value teaminput">
				<ul class="sku" >
					<li  style="font-size:12px;color:#333;padding-bottom:5px">
							<div class="proLi-selectGoods" ng-click = "p.changStatus();getAllPrice()"style="
    margin-left: -15px;
">
								<input type="radio"  />
							</div>
							<ul class="teamset">
							<li >
							<div class="am-u-sm-12 det-value "> 进口香蕉 
								<span > 5个</span>
								<span> 约3.1斤</span>
							</div>
							</li>
							<li >
							<div class="am-u-sm-12 det-value "> 橙汁1瓶
								<span > 鲜榨</span>
								<span> 赠送</span>
							</div>	
							</li>
							</ul>							
					</li>
					<li style="font-size:12px;color:#333;padding-bottom:5px">
							<div class="proLi-selectGoods" ng-click = "p.changStatus();getAllPrice()"style="
    margin-left: -15px;
">
								<input type="radio" checked />
							</div>					
							<ul class="teamset">
							<li >
							<div class="am-u-sm-12 det-value "> 进口香蕉 
								<span > 5个</span>
								<span> 约3.1斤</span>
							</div>
							</li>
							<li >
							<div class="am-u-sm-12 det-value "> 橙汁1瓶
								<span > 鲜榨</span>
								<span> 赠送</span>
							</div>	
							</li>
							</ul>					
					</li>
				</ul>
			</div>	
</form>

		<div class="am-cf"></div>



		<!--商品详情-->
		<div>
			<div class="am-u-sm-12 am-vertical-align" style= "height:46px;background-color:#aaaaaa;text-align:center">
				<span class="am-vertical-align-middle" >商品详情</span>
			</div>

        </div>

		<div class="am-u-sm-12 det-productIntro">
			<ul>
				<li ng-if = "productDetails.pictures[3].length" class="am-u-sm-12 am-u-md-12 am-u-lg-12" ng-repeat="p in productDetails.pictures[3] track by $index">
                    <a><img ng-src="{{serviceAddress+p.document.url}}" alt="" class="am-img-responsive"/></a>
                </li>
			</ul>
		</div>
		
	</div>

	</div>
	
	<div ng-if = "users.owner_id"  class="am-topbar am-topbar-fixed-bottom" style="bottom: 0px;margin-bottom:0px;z-index: 100000000;">
		<div class = "am-g">
			<div class="am-u-sm-2 am-vertical-align" style= "height:50px;margin-bottom: 0px;text-align:center;background-color:white;">
				  <span class="am-vertical-align-middle"style="color: black;">
				  <span class="am-icon-angle-left am-icon-md "></span>
				  </span>
			</div>
			<div ui-sref = "productList" class="am-u-sm-2 am-vertical-align" style= "height:50px;margin-bottom: 0px;text-align:center;background-color:white;">
				<span class="am-icon-cart-plus am-icon-md"></span>
				<span class="am-vertical-align-middle ">购物车</span>
				<div  class="menuGoodsNum" style="left: 63%;bottom: 60%;" ng-bind = "shopListNum.num"></div>
				
			</div>
			<div class="am-u-sm-4 am-vertical-align" style= "height:50px;margin-bottom: 0px;background-color:#FF9500;color:white;text-align:center">
				<span class="am-vertical-align-middle "ng-click = "addToBag()">加入购物车</span>
			</div>

			<div class="am-u-sm-4 am-vertical-align am-fr" style= "height:50px;margin-bottom: 0px;background-color:#DD2727;color:white;text-align:center">
				<span class="am-vertical-align-middle" ng-click = "gotoShopList()">立即购买</span>
			</div>
		</div>
	</div>


    <div am-modal-plug options = "modalObj"></div>
    <div am-modal-plug options = "modalObjSuc"></div>
    <div am-modal-plug options = "modalObjErr"></div>
</div>