<div  am-show>
    <div  class="am-u-sm-12 am-u-md-10 am-u-lg-9 am-u-sm-centered" id="contant">
        <!-- slider start -->
        <div am-swiper-plug options = "adverts" style="height: 176px;"></div>
        <!-- slider end -->
		<div class = "nav">
		<ul>
			<li class= "" ng-click="scrollTo(2)">
				<span class="am-icon-suitcase am-icon-md suitcase"></span>
				个人套餐
			</li>
			<li class= "" ng-click="scrollTo(3)">
				<span class="am-icon-group  am-icon-md group"></span>
				团队套餐
			</li>
			<li class= "" ng-click="scrollTo(4)">
				<span class="am-icon-random am-icon-md random"></span>
				周边
			</li>
		</ul>
		</div>		
		<div class="tcWrap">
		<div class="xiaowu" id="products_1"><span>单品精选</span></div>
		<a class="tcItem" ng-repeat = "p in products_1 track by $index"  ng-click = "gotoProductDetail(p.id)">
			<div class="tcImage" style="padding-bottom:68%">
			<img ng-src="{{serviceAddress+p.pictures[2][0].document.url}}">
				<i class="icon11"></i>
			</div>
			
			<dl>
			  <dt>{{p.name}}<i>¥{{p.prices[0].real_price}}</i></dt>
			  <dd>{{p.description}}</dd>
			</dl>
		</a>
		<div class="xiaowu" id="products_2"><span>个人套餐</span></div>
		<a class="tcItem" ng-repeat = "p in products_2 track by $index"  ng-click = "gotoProductDetail(p.id)">
			<div class="tcImage" style="padding-bottom:68%">
			<img ng-src="{{serviceAddress+p.pictures[2][0].document.url}}">
				<i class="icon11"></i>
			</div>
			
			<dl>
			  <dt>{{p.name}}<i>¥{{p.prices[0].real_price}}</i></dt>
			  <dd>{{p.description}}</dd>
			</dl>
		</a>

		<div class="xiaowu" id="products_3"><span>团队套餐</span></div>
		<a class="tcItem" ng-repeat = "p in products_3 track by $index"  ng-click = "gotoProductDetail(p.id)">
			<div class="tcImage" style="padding-bottom:68%">
			<img ng-src="{{serviceAddress+p.pictures[2][0].document.url}}">
				<i class="icon11"></i>
			</div>
			
			<dl>
			  <dt>{{p.name}}<i>¥{{p.prices[0].real_price}}</i></dt>
			  <dd>{{p.description}}</dd>
			</dl>
		</a>

		<div class="xiaowu" id="products_4"><span>周边</span></div>
		<a class="tcItem" ng-repeat = "p in products_4 track by $index"  ng-click = "gotoProductDetail(p.id)">
			<div class="tcImage" style="padding-bottom:68%">
			<img ng-src="{{serviceAddress+p.pictures[2][0].document.url}}">
				<i class="icon11"></i>
			</div>
			
			<dl>
			  <dt>{{p.name}}<i>¥{{p.prices[0].real_price}}</i></dt>
			  <dd>{{p.description}}</dd>
			</dl>
		</a>
		<div class="foot">
		  <div class="link" style="margin:0px auto 30px">
			<a href="/">首页</a>
			<a href="/my">会员中心</a>
			<a href="/wx_cs/serverce_index">常见问题</a>
		  </div>
		  <!-- <div>
			<img src="http://static2.flowerplus.cn/Static/web/v1/Images/mob5.png" style="height:24px;width:89px;display:inline-block;">
		  </div> -->
		  <p class="copy">© 2016 西安连线网络科技有限公司<br>沪ICP备13016979号</p>
		</div>
    </div>
    
</div>
<!--内容区域结束-->
<!-- <div ui-view></div> -->
