<div class = "am-topbar am-topbar-fixed-top"  style = "background-color:#423e3f" >
    <span class = "am-icon-angle-left am-icon-lg am-fl" style = "margin:2px 0 2px 5px;" ng-click = "historyBack()"></span>
</div>

<div class = "am-animation-slide-right" style="margin-top:50px;">

    <div ng-if = "!createOrderAddress.address" class="am-u-sm-12 paym-address"  ng-click = "addOrChangeAddr()">
        <span class="am-icon-map-marker">
            增加收货地址 
        </span>      
       <span class="am-icon-angle-right am-icon-sm am-fr"></span>
    </div>
    <div ng-if = "createOrderAddress.address" class="am-u-sm-12 paym-address"  ng-click = "addOrChangeAddr()">
        <div class = "am-u-sm-10">
            <span ng-bind = "createOrderAddress.address.detailed_address"></span> 
        </div>
        <div class = "am-u-sm-2">
            <span class = "am-fr"> 修改 ></span>
        </div>
    </div>


    <div class="am-u-sm-12 paym-goodsList">
        <ul>
            <li style = "background-color:#fbfbfb" class="am-u-sm-12" ng-repeat = " p in displayOrderList track by $index">
				
                <div class="paym-goodsImg"><img ng-src="{{serviceAddress+p.product.pictures[2][0].document.url}}" alt=""/></div>
                <div class="paym-goodsDetails">
                    <p>{{p.product.detail}}{{p.product.name}}</p>
                    <p class="paym-goodsValue">￥{{p.price.real_price}} <span>x{{p.amount}}</span></p>
                </div>
            </li>
        </ul>
    </div>



  

    <div class="am-u-sm-12 paym-pay">
        <div class="paym-itemStyle">&nbsp; &nbsp;  <span class="am-fr">合计金额：¥{{allPrice}}</span></div>
		<div ng-show="productDetails.category_id!==3"  class="am-u-sm-12 det-value">
			<ul class="sku">
				<li >
					<dl><dt style="font-size:12px;color:#333;padding-bottom:5px">配送时间:<a style="color:#f6325b;margin-left:15px;"></a></dt>
					<dd class="sku-item" >
						<span data-key="0" ng-repeat="time in timeSelects track by $index" class="select {{time==selecTime?'ed':''}}" ng-click="selectTime(time)">{{time}}</span>
					 
					</dd>
					<dd class="sku-item" >
					<span class="am-icon-commenting commenting" >{{tips}}</span>
					
					</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div ng-show="productDetails.category_id!==3"  class="am-u-sm-12 det-value">
			<ul class="sku">
				<li >
					<dl><dt style="font-size:12px;color:#333;padding-bottom:5px">支付方式:<a style="color:#f6325b;margin-left:15px;"></a></dt>
					<dd class="sku-item" >
						<span class="select {{payWay==2?'ed':''}}" ng-click="selectPayWay(2)">货到付款</span>
						<span class="select {{payWay==1?'ed':''}}" ng-click="selectPayWay(1)">微信支付</span>
					 
					</dd>

					</dl>
				</li>
			</ul>
		</div>
    </div>

    <div class="am-g">
        <button class="am-btn paym-btn" ng-click="getSigntureAndPay();">确认并下单</button>
    </div>
</div>
