<!-- recieve Address -->
<div>
	<div>
		<div class="am-topbar am-topbar-fixed-top am-text-center reAdd-address">
			<span class="am-fl" ng-click="historyBack()">取消</span>
			新增收货地址
			<!-- <span class="am-fr" ng-click="saveUserAddr()">保存</span> -->
		</div>
		<div class="am-u-sm-12 reAdd-userDetails">
			<form class="am-form-group">
				<label for="userName">收货人</label>
				<input type="text" id="userName"  ng-model="currentuser.name"/>
			</form>
			<form class="am-form-group">
				<label for="userPhon">手机号码</label>
				<input type="text" id="userPhon" ng-model="currentuser.phone"/>
			</form>
			<div class = "am-form-group">
				<label for="userPhon">省份：</label>
				<select id="province" name="province">
            		<option value="">
				             请选择省名
				    </option>
				</select>
			</div>
			<div class = "am-form-group">
				<label for="userPhon">城市：</label>
				<select id="city" name="city">
		            <option value="">
		             请选择城市名
		            </option>
				</select>
			</div>

			<form class="am-form-group">
				<label for="detailAddress">详细地址</label>
				<textarea rows="3" id="detailAddress"  ng-model="currentuser.details"></textarea>
			</form>
		</div>

		<div class="am-u-sm-12 am-text-center reAdd-prompt">
			<h3>熊笨熊提示您请填写真实身份信息</h3>
			<p>请填写真实姓名和身份证信息</p>
		</div>
		<button class="am-btn paym-btn" ng-click="saveUserAddr();">保存地址</button>
 	</div>
</div>