<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify" id="{{_id}}">
        <li class="am-active"><a href="">彩虹</a></li>
        <li><a href="">画面</a></li>
        <li><a href="">窗外</a></li>
        <li><a href="">天气</a></li>

      </ul>
      <div class="am-tabs-bd">
        <div class="am-tab-panel am-active">
            彩虹

        </div>
        <div class="am-tab-panel">
            画面
        </div>
        <div class="am-tab-panel">
          窗外
        </div>
        <div class="am-tab-panel">
          天气
        </div>
      </div>
